
//
// VARIABLES
//

// Colors
$blue: #3f9db5;

// Grays
$black: #000;
$darkerGray: #5e7ca2;
$darkGray: #333;
$gray: #666;
$lightGray: #5b99c4;
$white: #c9e6f9;

// Font stacks
$helvetica: Helvetica, Arial, sans-serif;
$helveticaNeue: "Helvetica Neue", Helvetica, Arial, sans-serif;
$georgia: Georgia, serif;

// google web fonts
$Serif: 'Roboto Slab', serif;
$SansSerif: 'Roboto', sans-serif;
$Monospace: 'Ubuntu Mono', monospace;

// Mobile breakpoints
@mixin mobile {
  @media screen and (max-width: 640px) {
    @content;
  }
}
